.search {
  display: flex;
  align-items: center;
  font-size: 1.25em;

  &.is-loading {
    display: none;
  }
}

.search__container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 20em;
  top: -1.15em;
  left: 1.15em;
  border-radius: rem(3);

  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: $black;
    stroke-width: 0.25em;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}
